
.root {
    -fx-focus-color: transparent;   /* Remove blue focus ring */
}

/* TableFiles */
#table-files .table-column {
    -fx-padding: 3 5;
}
#table-files #column-lines {
    -fx-alignment: top-right;
}
#table-files #column-matched {
    -fx-alignment: top-center;
}
